@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

* {
    font-family: 'Source Sans 3', sans-serif;
}

.text-important {
    font-family: 'Montserrat', sans-serif;
}

.shaking {
    animation: shaking 800ms ease;
}

.card-shadow {
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}

.cart-item-shadow {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}

.purchase-box-shadow {
    box-shadow: 0px 0px 1.6px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 1.6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 1.6px 0px rgba(0,0,0,0.5);
}

.click-effect:active {
    box-shadow: 0px 0px 2px 0px rgba(0,1,1,0.7) inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,1,1,0.7) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,1,1,0.7) inset;
    transform: translateY(2px);
    transform: scale(0.95);
}

.select-box {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 4px;
    padding: 15px 13px 15px;
    width: 100%;
    margin-top: 5px;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transition: border 0.2s, box-shadow 0.2s;
}

.select-box:focus {
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    border-color:  rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.select-box:checked {
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    border-color:  rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.remove-sb::-webkit-scrollbar{
    display: none;
}

@keyframes shaking {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-20%);
    }
    40% {
        transform: translateX(20%);
    }
    60% {
        transform: translateX(-20%);
    }
    80% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}