@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

* {
    font-family: 'Source Sans 3', sans-serif;
}

.text-important {
    font-family: 'Montserrat', sans-serif;
}

.shaking {
    animation: shaking 800ms ease;
}

.card-shadow {
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}

@keyframes shaking {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-20%);
    }
    40% {
        transform: translateX(20%);
    }
    60% {
        transform: translateX(-20%);
    }
    80% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}